name: gym-diary

include:
  - compose.infra.yaml

networks:
  frontend:
  backend:

volumes:
  postgres-data:
  redis-data:
  static:

services:
  web:
    build: ../web
    env_file: ".env"
    networks:
      - frontend
    ports:
      - '80:80'
    volumes:
      - ./logs:/etc/nginx/logs
      - static:/usr/share/nginx/html/${STATIC_URL}
    depends_on:
      - server
  server:
    build: ../server
    restart: always
    env_file: ".env"
    networks:
      - frontend
      - backend
    volumes:
      - ./logs:/app/logs
      - static:/app/static
    depends_on:
      - postgres
      - redis
